In [46]:
import pandas as pd
import string

In [58]:
dataPath = "data/train.csv"
traindata = pd.read_csv(dataPath)

traindata['Lastname'] = traindata['Name'].apply(lambda x: x.split(",")[0].translate(None, string.punctuation))
traindata['Firstname'] = traindata['Name'].apply(lambda x: x.split(",")[1].split(".")[1].translate(None, string.punctuation))
traindata = traindata.drop(['Name'],axis=1)

# print(traindata.describe())
print(traindata.groupby(['Ticket']).count())
# traindata[traindata.isnull().any(axis=1)]
# traindata[traindata['Age'].isnull() & traindata['Cabin'].isnull()]

                   PassengerId  Survived  Pclass  Sex  Age  SibSp  Parch  \
Ticket
110152                       3         3       3    3    3      3      3
110413                       3         3       3    3    3      3      3
110465                       2         2       2    2    1      2      2
110564                       1         1       1    1    1      1      1
110813                       1         1       1    1    1      1      1
111240                       1         1       1    1    1      1      1
111320                       1         1       1    1    1      1      1
111361                       2         2       2    2    2      2      2
111369                       1         1       1    1    1      1      1
111426                       1         1       1    1    1      1      1
111427                       1         1       1    1    0      1      1
111428                       1         1       1    1    1      1      1
112050                       1         1       1    1    1      1      1
112052                       1         1       1    1    0      1      1
112053                       1         1       1    1    1      1      1
112058                       1         1       1    1    0      1      1
112059                       1         1       1    1    1      1      1
112277                       1         1       1    1    1      1      1
112379                       1         1       1    1    0      1      1
113028                       1         1       1    1    0      1      1
113043                       1         1       1    1    1      1      1
113050                       1         1       1    1    1      1      1
113051                       1         1       1    1    1      1      1
113055                       1         1       1    1    1      1      1
113056                       1         1       1    1    0      1      1
113059                       1         1       1    1    1      1      1
113501                       1         1       1    1    1      1      1
113503                       1         1       1    1    1      1      1
113505                       2         2       2    2    1      2      2
113509                       1         1       1    1    1      1      1
...                        ...       ...     ...  ...  ...    ...    ...
SOTON/OQ 392082              1         1       1    1    0      1      1
SOTON/OQ 392086              1         1       1    1    0      1      1
SOTON/OQ 392089              1         1       1    1    1      1      1
SOTON/OQ 392090              1         1       1    1    1      1      1
STON/O 2. 3101269            1         1       1    1    1      1      1
STON/O 2. 3101273            1         1       1    1    1      1      1
STON/O 2. 3101274            1         1       1    1    1      1      1
STON/O 2. 3101275            1         1       1    1    1      1      1
STON/O 2. 3101280            1         1       1    1    1      1      1
STON/O 2. 3101285            1         1       1    1    1      1      1
STON/O 2. 3101286            1         1       1    1    1      1      1
STON/O 2. 3101288            1         1       1    1    1      1      1
STON/O 2. 3101289            1         1       1    1    1      1      1
STON/O 2. 3101292            1         1       1    1    1      1      1
STON/O 2. 3101293            1         1       1    1    1      1      1
STON/O 2. 3101294            1         1       1    1    1      1      1
STON/O2. 3101271             1         1       1    1    1      1      1
STON/O2. 3101279             2         2       2    2    2      2      2
STON/O2. 3101282             1         1       1    1    1      1      1
STON/O2. 3101283             1         1       1    1    1      1      1
STON/O2. 3101290             1         1       1    1    1      1      1
SW/PP 751                    1         1       1    1    1      1      1
W./C. 14258                  1         1       1    1    1      1      1
W./C. 14263                  1         1       1    1    1      1      1
W./C. 6607                   2         2       2    2    0      2      2
W./C. 6608                   4         4       4    4    4      4      4
W./C. 6609                   1         1       1    1    0      1      1
W.E.P. 5734                  1         1       1    1    1      1      1
W/C 14208                    1         1       1    1    1      1      1
WE/P 5735                    2         2       2    2    2      2      2

                   Fare  Cabin  Embarked  Lastname  Firstname
Ticket
110152                3      3         3         3          3
110413                3      3         3         3          3
110465                2      2         2         2          2
110564                1      1         1         1          1
110813                1      1         1         1          1
111240                1      1         1         1          1
111320                1      1         1         1          1
111361                2      2         2         2          2
111369                1      1         1         1          1
111426                1      0         1         1          1
111427                1      0         1         1          1
111428                1      0         1         1          1
112050                1      1         1         1          1
112052                1      0         1         1          1
112053                1      1         1         1          1
112058                1      1         1         1          1
112059                1      1         1         1          1
112277                1      1         1         1          1
112379                1      0         1         1          1
113028                1      1         1         1          1
113043                1      1         1         1          1
113050                1      1         1         1          1
113051                1      1         1         1          1
113055                1      1         1         1          1
113056                1      1         1         1          1
113059                1      0         1         1          1
113501                1      1         1         1          1
113503                1      1         1         1          1
113505                2      2         2         2          2
113509                1      1         1         1          1
...                 ...    ...       ...       ...        ...
SOTON/OQ 392082       1      0         1         1          1
SOTON/OQ 392086       1      0         1         1          1
SOTON/OQ 392089       1      0         1         1          1
SOTON/OQ 392090       1      0         1         1          1
STON/O 2. 3101269     1      0         1         1          1
STON/O 2. 3101273     1      0         1         1          1
STON/O 2. 3101274     1      0         1         1          1
STON/O 2. 3101275     1      0         1         1          1
STON/O 2. 3101280     1      0         1         1          1
STON/O 2. 3101285     1      0         1         1          1
STON/O 2. 3101286     1      0         1         1          1
STON/O 2. 3101288     1      0         1         1          1
STON/O 2. 3101289     1      0         1         1          1
STON/O 2. 3101292     1      0         1         1          1
STON/O 2. 3101293     1      0         1         1          1
STON/O 2. 3101294     1      0         1         1          1
STON/O2. 3101271      1      0         1         1          1
STON/O2. 3101279      2      0         2         2          2
STON/O2. 3101282      1      0         1         1          1
STON/O2. 3101283      1      0         1         1          1
STON/O2. 3101290      1      0         1         1          1
SW/PP 751             1      0         1         1          1
W./C. 14258           1      0         1         1          1
W./C. 14263           1      0         1         1          1
W./C. 6607            2      0         2         2          2
W./C. 6608            4      0         4         4          4
W./C. 6609            1      0         1         1          1
W.E.P. 5734           1      1         1         1          1
W/C 14208             1      0         1         1          1
WE/P 5735             2      2         2         2          2

[681 rows x 12 columns]

In [24]:
# listing the parametersof the functions
# print(pd.read_csv.__code__.co_argcount)
print(pd.read_csv.__code__.co_varnames)